<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JobHelper Alert</title>

</head>
<body style="margin:0; background-color:#CCCCCC">
    <style>
        img{
            border:0
        }
        td{
            position:relative;
            padding:0
        }

    </style>
    <div style="width:100%; background-color:#eeeeee; margin:auto; table-layout:fixed; padding: 0px 0 60px 0">
        <table class="main" width="100%" style="width:100%;
            max-width:600px;
            margin: 0 auto;
            border-spacing:0;
            color: #171a1b;
            background-color:#ffffff;">
            <tr>
                <td height="50" valign="center" align="center" style="background-color:white;border-bottom: 7px solid #8c5b5b">
                    <img src="" height="50">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="" style="width:100%">
                </td>
            </tr>
            <tr>
                <td style="padding: 20px; line-height: 30px; font-size:20px; font-weight: 505">
                    <h2>Bonjour {{ nom }},</h2>
                    <p>{{ contenu }}</p>
                    <div style="width: 100%; padding-top: 20px; display: flex;
                        justify-content: space-around; flex-wrap: wrap">
                        <a style="padding: 25px;
                            font-size: 20px;
                            border: 3px solid transparent;
                            font-weight: 1000;
                            margin: 30px 50px 15px 50px;
                            box-shadow: 5px 5px 5px #eee;
                            border-radius: 10px;
                            text-transform: uppercase;
                            color: #ffffff;
                            background-color: rgb(122, 200, 65);
                            border-color: rgb(75, 129, 31);
                            text-decoration: none;"
                           class="btn btn-yes">YES</a>
                        <a style="padding: 25px;
                            font-size: 20px;
                            border: 3px solid transparent;
                            font-weight: 1000;
                            margin: 30px 50px 15px 50px;
                            box-shadow: 5px 5px 5px #eee;
                            border-radius: 10px;
                            text-transform: uppercase;
                            color: #ffffff;
                            background-color: rgb(242, 70, 82);
                            border-color: rgb(137, 25, 24);
                            text-decoration: none;"
                           class="btn btn-no">NO</a>

                    </div>

                    <br>
                    <p>Bonne chance!</p>
                    <p>
                        KB Packages
                        <br>
                        + 225 0749035141
                    </p>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
